@page "/SkuEditor"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h2>SKU editor</h2>
<p>Here you can generate and CRUD sku's</p>
<div class="row">

</div>


<BbAlertHub></BbAlertHub>