
@using T109.ActiveDive.FrontEnd.Blazor.Components
@using T109.ActiveDive.FrontEnd.Blazor.Components.ObjectSelector

<div class="@HolderDivClass " style="@HolderDivStyle">

    @foreach (var obj in Objects)
    {
        <SelectableObjectComponent Parent="@Selector"  SourceObject="@obj" />
    }

</div>

 